/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
   margin: 0;
   padding: 0;
   min-height: 100vh; 
   /* make it look decent enough */
   background: #ededed;
   color: #232323;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   width: 350px;
   top: 20px;
   left: 20px; /* let op */
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: #3587F2;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #232323; /* kleur van hamburger*/
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 100vw;
   margin: -100px 0 0 -50px;
   padding: 50px 0px 50px 50px; /* let op*/
   padding-top: 125px;
   padding-right: 0px;
   
   background: white; /*kleur van menu*/
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu ul{
  width: 350px;
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   width: 350px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 header{
  font-family: "stevie-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: center;
 }

h1{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 20px;
}

 .logo{
  display: flex;
  justify-content: center;
  padding-left: 37.5px;
 }

 .groot_logo{
  display: flex;
  justify-content: center;
  margin-left: 45px;
  margin-top: -10px;
 }

.tekst_midden{
  display: flex;
  justify-content: center;
}

.knop1{
  display: inline-block;
  width: 40px;
  padding: 6px 20px;
  margin-left: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3587F2;
  color: black;
  border-radius: 3px;
}

.knop2{
  display: inline-block;
  width: 40px;
  padding: 6px 20px;
  margin-left: 35px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3587F2;
  color: black;
  border-radius: 3px;
}


.box1{
  display: flex;
  justify-content: space-around ;
  padding-bottom: 20px;
  margin-top: 20px;
}

.tekst_en_knop{
  display: flex;
  flex-direction: column;
}

.box2{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 30px;
}

article{
  padding: 10px 20px;
}

article p{
  margin-top: 0px;
}

article h2{
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 20px;
}

.tekst_zijkant{
  margin-left: 90px;
}

.box3 {
  display: flex;
  justify-content: space-between;
}

.box3 p{
  padding: 0px 0px 0px 20px;

}

.tekst_omheen{
  float: right;
  shape-outside: url(images/illustratie_duurzaam.png);
  /*Deze code geeft een error maar moet volgens Meneer de Vries en het
  internet wel kloppen */
}

.onderste_tekst{
  margin-top: 25px;
}


footer{
  background-color: #232323; 
  padding: 20px 0;
  width: 100vw;
  height: 60px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer1{
  margin-top: 52px;
}


footer h3{
  margin: 0px;
  color: #626262;
}

footer a{
  color: #626262;
  font-size: 13px;
  text-decoration: none;
}

footer a:visited{
  color: #626262;
  font-size: 13px;
  text-decoration: none;
}

.logo_footer{
  padding-left: 10px;
}

.footer_tekst{
  color: #626262;
  font-size: 10px;
  padding-left: 11px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.Rij1{
  display: flex;
  flex-direction: column;
}

.Rij2{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 20px;
}






